<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart 🛒</h1>

    {% if items %}
        <ul>
            {% for item in items %}
                <li>
                    {{ item.name }} - ₹{{ item.price }}  
                    Qty: {{ item.quantity }}  
                    Subtotal: ₹{{ item.subtotal }}

                    <a href="/add-to-cart/{{ item.id }}">➕</a>
                    <a href="/decrease/{{ item.id }}">➖</a>
                    <a href="/remove/{{ item.id }}">❌</a>
                </li>
            {% endfor %}
        </ul>

        <h3>Total: ₹{{ total }}</h3>
    {% else %}
        <p>Cart is empty</p>
    {% endif %}

    <a href="/products">Continue Shopping</a>
</body>
</html>